In [3]:
import pandas as pd
series_test = pd.Series([100, 200, 300])
series_test

0    100
1    200
2    300
dtype: int64

In [4]:
series_test2 = pd.Series({1999: 48, 
                          2000: 65, 
                          2001:89})
series_test2

1999    48
2000    65
2001    89
dtype: int64

In [5]:
frame_test = pd.DataFrame({1999: [74, 38, 39],
                           2000: [34, 32, 32],
                           2001: [23, 39, 23],})
frame_test

   1999  2000  2001
0    74    34    23
1    38    32    39
2    39    32    23

In [6]:
frame_test = pd.DataFrame([[74, 38, 39],
                          [74, 38, 39],
                          [74, 38, 39]], columns=[1999, 2000, 2001])

frame_test

   1999  2000  2001
0    74    38    39
1    74    38    39
2    74    38    39

# Read Data

In [7]:
pd.options.display.max_rows = 10 # muestra primeros 10

el_universal = pd.read_csv('eluniversal.csv')

#type(el_universal)
#el_universal.head() Muestra primeros 5
#el_universal.tail() Muestra ultimos 5
el_universal

,body,title,url
0,\nLa procuradora Ernestina Godoy confirmó que ...,Matan a exdiputado de Tláhuac; investigan vínc...,http://www.eluniversal.com.mx/metropoli/cdmx/m...
1,NaN,NaN,http://www.eluniversal.com.mx/deportes/box
2,NaN,NaN,https://www.tangible-eluniversal.com.mx/en-ver...
3,\n\nTras el triunfo de Barbosa y la derrota de...,Puebla: un tropiezo electoral no es una derrot...,https://www.eluniversal.com.mx/articulo/maria-...
4,\n\nLa noticia de que las niñas y niños de la ...,Entre faldas y pantalones,https://www.eluniversal.com.mx/articulo/letici...
...,...,...,...
194,"\nCDMX.- Cerca de las 18:30 horas, un hombre d...",Policía auxilia a hombre de la tercera edad qu...,http://www.eluniversal.com.mx/metropoli/cdmx/p...
195,\nTexto: Aída Castro SánchezDiseño web: Miguel...,Las primeras reporteras que rompieron con los ...,https://www.eluniversal.com.mx/mochilazo-en-el...
196,"\nTingüindín, Michoacán.- Diego Vidal Manzo, s...",Grupo armado ataca a subdirector de Seguridad ...,http://www.eluniversal.com.mx/estados/grupo-ar...
197,NaN,NaN,http://www.eluniversal.com.mx/nacion/seguridad
198,NaN,Concacaf pide al Tri priorizar la Copa Oro,http://www.eluniversal.com.mx/deportes

# Index and selection

In [8]:
# dictionary like 

el_universal['title']

0      Matan a exdiputado de Tláhuac; investigan vínc...
1                                                    NaN
2                                                    NaN
3      Puebla: un tropiezo electoral no es una derrot...
4                              Entre faldas y pantalones
                             ...
194    Policía auxilia a hombre de la tercera edad qu...
195    Las primeras reporteras que rompieron con los ...
196    Grupo armado ataca a subdirector de Seguridad ...
197                                                  NaN
198           Concacaf pide al Tri priorizar la Copa Oro
Name: title, Length: 199, dtype: object

In [9]:
el_universal[['title', 'url']]

,title,url
0,Matan a exdiputado de Tláhuac; investigan vínc...,http://www.eluniversal.com.mx/metropoli/cdmx/m...
1,NaN,http://www.eluniversal.com.mx/deportes/box
2,NaN,https://www.tangible-eluniversal.com.mx/en-ver...
3,Puebla: un tropiezo electoral no es una derrot...,https://www.eluniversal.com.mx/articulo/maria-...
4,Entre faldas y pantalones,https://www.eluniversal.com.mx/articulo/letici...
...,...,...
194,Policía auxilia a hombre de la tercera edad qu...,http://www.eluniversal.com.mx/metropoli/cdmx/p...
195,Las primeras reporteras que rompieron con los ...,https://www.eluniversal.com.mx/mochilazo-en-el...
196,Grupo armado ataca a subdirector de Seguridad ...,http://www.eluniversal.com.mx/estados/grupo-ar...
197,NaN,http://www.eluniversal.com.mx/nacion/seguridad
198,Concacaf pide al Tri priorizar la Copa Oro,http://www.eluniversal.com.mx/deportes

In [10]:
# Numpy like 

el_universal.iloc[10:15]

,body,title,url
10,NaN,NaN,https://bit.ly/2jmdiXT
11,NaN,María Elena Morera,http://www.eluniversal.com.mx/autor-opinion/ar...
12,"El año 2019 todavía es joven, pero un par de m...",NaN,https://www.elgrafico.mx/espectaculos/ellas-so...
13,NaN,Andrew Selee,http://www.eluniversal.com.mx/autor-opinion/ar...
14,La banda de rock Los Amigos Invisibles se pres...,Los Amigos Invisibles en Naucalpan: Compra tus...,http://www.unionedomex.mx/articulo/2019/06/07/...

In [11]:
el_universal.iloc[66]['title']

'Naasón “ha sido víctima de complot cibernético”, dice defensa'

In [12]:
el_universal.iloc[:5,0]

0    \nLa procuradora Ernestina Godoy confirmó que ...
1                                                  NaN
2                                                  NaN
3    \n\nTras el triunfo de Barbosa y la derrota de...
4    \n\nLa noticia de que las niñas y niños de la ...
Name: body, dtype: object

In [13]:
el_universal.loc[:,'body':'title']

,body,title
0,\nLa procuradora Ernestina Godoy confirmó que ...,Matan a exdiputado de Tláhuac; investigan vínc...
1,NaN,NaN
2,NaN,NaN
3,\n\nTras el triunfo de Barbosa y la derrota de...,Puebla: un tropiezo electoral no es una derrot...
4,\n\nLa noticia de que las niñas y niños de la ...,Entre faldas y pantalones
...,...,...
194,"\nCDMX.- Cerca de las 18:30 horas, un hombre d...",Policía auxilia a hombre de la tercera edad qu...
195,\nTexto: Aída Castro SánchezDiseño web: Miguel...,Las primeras reporteras que rompieron con los ...
196,"\nTingüindín, Michoacán.- Diego Vidal Manzo, s...",Grupo armado ataca a subdirector de Seguridad ...
197,NaN,NaN
198,NaN,Concacaf pide al Tri priorizar la Copa Oro

# Data Wrangling

In [ ]:
# 1.Añadir el universal newspaper_uid al DataFrame

el_universal['newspaper_uid'] = 'eluniversal'
el_univers